/*  ↓ regole di stile generiche ↓ */
.title {
  color: #fff;
  font-weight: 700;
}
.link {
  color: #6e6e6e;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.link:active,
.link:hover,
.link:focus {
  text-decoration: none;
  outline: none;
}
/*  ↑ regole di stile generiche ↑ */

/* ↓ Header: classe aside (blocco con gb nero sulla sinistra della pagina)  ↓ */
.aside {
  width: 350px;
  height: calc(100vh - 100px);
  min-height: 400px;
}
/* .:. logo .:. */
.aside__title--logo {
  display: inline-block;
}
/* ↓ aside__menu ↓ */
.aside > *:not(.aside__menu) {
  padding: 10px 20px;
}
.aside__menu {
  padding: 10px 20px 10px 0;
}
.aside__item {
  border-left: 2px solid transparent;
}

.aside__item:focus-within {
  border-left: 2px solid #adff2f;
}
.aside__txt {
  display: inline-block;
  margin: 0 0 10px 5px;
}
.aside__link {
padding-left: 20px;
}
.aside__link--lighter {
  color: #d2d2d2;
  padding-left: 20px;
}
/* ↓ aside__playlist ↓ */
.aside__add {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 0;
  background-color: #d2d2d2;
  color: #000;
}
.aside__link--create-playlist {
  align-items: center;
}
.aside__create-playlist__plus {
  font-size: 3.6rem;
  line-height: 3.6rem;
}
.aside__txt--create-playlist {
  margin: 0 0 0 10px;
}



/* ↑ Header: classe aside (blocco con gb nero sulla sinistra della pagina)  ↑ */



/* ==========
↓INIZIO↓: mediaqueries */
/*  ↓ mediaquery per display sm ↓  */
@media screen and (min-width: 768px) {
  .aside__icon--logo {
    font-size: 3.6rem;
  }
}

/*  ↓ mediaquery per display md ↓  */
@media screen and (min-width: 992px) {

}

/*  ↓ mediaquery per display lg ↓  */
@media screen and (min-width: 1200px) {

}
/* ↑FINE↑: mediaqueries
==========*/
